input {
  width: 11px;
  height: 11px;
}

.children-v-middle > * {
  display: inline;
  vertical-align: middle;
}

* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h1, h2, h3, h4, h5, h6 {
  /* text-transform: uppercase; */
}

h1 { font-size: 35px }
h2 { font-size: 25px }
h3 { font-size: 20px }
h4 { font-size: 18px }

button {
  cursor: pointer;
}

.ico {
  width: 25px;
  height: 25px;
  background: none;
  cursor: pointer;
  display: block;
}

.ico img {
  width: 17px;
  height: 17px;
  margin: 4px
}

.ico:hover  {
  background-color: #222;
}

.ico::after {
  display: block;
  content: attr(tooltip);
  position: relative;
  top: -35px;
  text-align: center;
  box-sizing: content-box;
  min-width: 150px;
  padding: 5px 8px;
  background: #fff;
  color: #444;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  font-size: 13px;
  margin-left: 28px;
  visibility: hidden;
}

.ico:hover::after {
  visibility: visible;
}

.icon-selected {
  background-color: #222 !important;
}

.ico-small {
  width: 15px;
  height: 15px;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
}

.ico-small img {
  width: 15px;
  height: 15px;
}

.ico-small:hover  {
  background-color: #222;
}

input.button {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 5; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

input.button + button {
  -webkit-touch-callout: none;
  z-index: 2;
}

.panel {
  font-size: 13px;
  background: #333;
  color: #d1d1d1;
  padding: 5px;  
  z-index: 1;
  padding: 15px;
  -webkit-user-select: none;
  user-select: none;
  /* -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4); */
}

.panel > div {
  width: 100%;
  background: #222;
  width: 250px;
  padding: 15px;
  transform-origin: 0% 0%;
  transform: translate(150%, 0);
}

.panel > input:checked ~ div {
  transform: none;
}

.panel > h5:first-child,
.panel > div > h4 {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #575757;
  margin-bottom: 10px;
}

.panel > div h5 {
  margin-bottom: 10px;
}

.panel-expandable {
  background: transparent;
  padding: 5px;
}

.tools {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 100vh;
  padding: 5px;
}

.tools .ico {
  display: block;
  margin-bottom: 5px;
}

.paths {
  position: fixed;
  top: 0;
  left: 35px;
  height: 100vh;
  background: #222;
  width: 200px;
  overflow: scroll;
}

.paths .list-actions {
  display: block;
  padding-bottom: 9px;
  border-bottom: 1px solid #575757;
  margin-bottom: 5px;
}
.paths #hide-all {
  float: right;
  margin-top: 2px;
}

.paths .path {
  display: block;
  width: 100%;
  font-size: 11px;
  line-height: 12px;
  padding: 4px 0;
  border-bottom: 1px solid #333;
  letter-spacing: 1px;
}

.paths .path input,
.paths .path span {
  /* float: left; */
}

.paths .path input:first-child {
  /* margin: 1px 1px 1px 1px; */
}

.paths .path input:last-child {
  float: right;
}

.paths p {
  font-size: 11px;
}

.workspace-settings {
  position: fixed;
  top: 5px;
  right: 5px;
}

.workspace-settings > input,
.workspace-settings > button {
  position: fixed;
  top: 5px;
  right: 5px;
}

.workspace-settings > button:hover {
  background: transparent;
}

.workspace-settings > button:after {
  top: -50px;
}

.workspace-settings > div > button {
  position: fixed;
  top: 5px;
  right: 5px;
}

.workspace-settings-switch-background {
  width: 25px;
  height: 25px;
  padding: 0;
  position: fixed;
  top: 5px;
  right: 5px;
  background: #111;
  z-index: 1;
  border-radius: 15px;
}

.workspace-settings .background button {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.workspace-settings .background button:hover {
  border: 2px solid #0099ff;
  transition: none;
}

.cursor-move {
  cursor: url(../img/icons/pan-viewport-cursor.png), auto;
}

.cursor-zoom-in {
  cursor: url(../img/icons/zoom-in-cursor.png), auto;
}

.cursor-zoom-out {
  cursor: url(../img/icons/zoom-out-cursor.png), auto;
}

.cursor-none { cursor: none };

.bg-dark  { background: #111 }
.bg-light { background: #999 }
.bg-white { background: #fff }

.bg-chessboard {
  background-image:
    linear-gradient(
      45deg, 
    #d1d1d1 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg, #d1d1d1 25%,
      transparent 25%
    ),
    linear-gradient(
      45deg,
      transparent 75%,
      #d1d1d1 75%
    ),
    linear-gradient(
      -45deg,
      transparent 75%,
      #d1d1d1 75%
    );
  background-size: 40px 40px;
  background-position: 0 0, 0 99.8px, 99.8px -99.8px, -99.8px 0px;
  background-color: #ffffff;
}