.ico 
  width: 25px
  height: 25px
  background: none
  cursor: pointer
  display: block
  
  img 
    width: 17px
    height: 17px
    margin: 4px

  &:hover
    background-color: #222

  &-small
    background: none
    width: 21px
    height: 21px
    cursor: pointer
    display: inline-block
    padding: 3px
    margin: 0 2px

    &:hover
      background: #000000

    img
      width: 15px
      height: 15px