.workspace-settings
  position: fixed
  top: 5px
  right: 5px

  input.button,
  input.button + button
    position: fixed
    top: 5px
    right: 5px

  .background span
    display: inline-block
    width: 30px
    height: 30px
    margin: 2px
    transition: none
    cursor: pointer

  &-switch-background
    width: 25px
    height: 25px
    padding: 0
    position: fixed
    top: 5px
    right: 5px
    background: #111
    z-index: 1
    border-radius: 15px